.header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  background: #00a655;
  padding: 1em 1.5em;
  box-shadow: 0 3px 18px 0 rgba(0,0,0,0.08);

  display: flex;
  justify-content: flex-end;

  button + button {
    margin-right: 1em;
  }
}

.back {
  margin-right: auto;
}

@media print {
  .header {
    display: none;
  }
}

.flip-buttons {
  :global(.ant-confirm-btns) {
    display: flex;
    flex-direction: row-reverse;

    button + button {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}
