.listItem {
  padding-left: 10px;
  padding-right: 10px;
}
.internalItem {
  background: rgba(207,230,215,.45);
}
.internal {
  color: rgba(0, 0, 0, 0.45);
  font-weight: normal;
  display: inline-block;
  font-size: 12px;
  background: white;
  border-radius: 5px;
  padding: 0 6px;
  margin-bottom: 6px;
}

.submitButton {
  text-align: right;
}
