.attachmentList {
  margin: 10px 0 0 0;
  padding: 3px 6px;
  background: rgba(202, 198, 176, 0.1);
  border-radius: 2px;
}

.attachmentListItem {
  list-style-type: none;
  padding: 2px 0;
}

.attachmentLink {
  border: none;
  background: none;
  padding: 0;
  color: #00a655;
  &:hover {
    color: #1db365;
  }
  &:active {
    color: #008046;
  }
  &:focus {
    text-decoration: underline;
  }
}



